button {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    width: 40px;
}


button:focus{
    outline:none;
    border:none;
}

.mainContainer {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}
.imageContainer {
    width: fit-content;
    margin: 20px auto;
}

img {
    border: 5px solid rgb(110, 100, 151);
    width: fit-content;
}

.buttonContainer {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}